/* Base Style */
body,
body::before,
body::after,
body *,
body *::before,
body *::after {
  box-sizing: border-box;
}


a {
  color: inherit;
  text-decoration: none;
}

body {
  font: inherit;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  background-color: #fff;
}

/* 유연한 미디어 */
img {
  /* 원본 크기 이상은 커지지 않게됨(최대치를 제한) */
  /* 비트맵 이미지는 깨지니까 이렇게 하고 벡터 이미지(svg)는 안깨져서 늘려도 됨 */
  max-width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}

/* 반응형 iframe */

.news__videoContainer {
  width: auto;
}

/* CSS 속성 중 aspect ratio 쓰면 쉽게 가능(IE 11 지원 X) */
.iframeWrapper {
  aspect-ratio: 16/9;
  position: relative;
}

/* .iframeWrapper {
  position: relative;
  width: 100%;
  height: 0; */
  /* padding의 퍼센트 계산은 부모의 width를 기준으로 계산하므로 부모가 1000px이라면 얘는 562px(16:9)와 같음 */
  /* padding-top: 56.25%; */
/* } */

/* 영상 비율에 따라 클래스명 다르게 하면 비율 각각 다르게 가능 */
.iframeRatio-21-9 {
  /* 둘 중에 아무거나 써도 됨 */
  padding-top: 42.857142857142855%;
  /* aspect-ratio: 16/9; */
}
.iframeRatio-16-9 {
  padding-top: 56.25%;
}
.iframeRatio-4-3 {
  padding-top: 75%;
}
.iframeRatio-1-1 {
  aspect-ratio: 1/1;
}


.iframeWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  /* 부모크기와 똑같게 */
  width: 100%;
  height: 100%;
}



.iframeWrapper {
  /* position: relative;
  width: 100%;
  padding-bottom: 56.25%; */

}

.iframeWrapper iframe {
  /* position: absolute;
  width: 100%;
  height: 100%; */
}
